@font-face {
  font-family: Merriweather-bold;
  src: url(../fonts/Merriweather/Merriweather-Bold.ttf); }

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf); }

@font-face {
  font-family: Merriweather-Regular;
  src: url(../fonts/Merriweather-Regular/Merriweather-Regular.ttf); }
